name: 部署协议文件到S3

on:
  push:
    paths:
      - 'source/*.html'

jobs:
  deploy:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        file:
          - source: source/yunmu13-useragreement.html
            target: yunmu13-useragreement.html
          - source: source/yunmu13-dataprivicyprotocol.html
            target: yunmu13-dataprivicyprotocol.html
    steps:
      - name: 拉取代码
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: 判断当前变更是否包含该文件
        id: check
        run: |
          if git diff --name-only ${{ github.event.before }} ${{ github.sha }} | grep -q "${{ matrix.file.source }}"; then
            echo "changed=true" >> $GITHUB_OUTPUT
          else
            echo "changed=false" >> $GITHUB_OUTPUT
          fi

      - name: 生成文件名

        run: |
          filename="$(basename '${{ matrix.file.source }}')"
          base_name="${filename%.html}"
          echo "html_filename=${filename}" >> $GITHUB_ENV
          echo "backup_filename=${base_name}_$(date +%Y-%m-%d-%H-%M).html" >> $GITHUB_ENV

      - name: 配置AWS凭证
        if: steps.check.outputs.changed == 'true'
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: cn-northwest-1

      - name: 备份S3中的旧文件
        if: steps.check.outputs.changed == 'true'
        run: |
          aws s3 cp \
            s3://test-autoreleaseprotocol/mp/${{ env.html_filename }} \
            s3://test-autoreleaseprotocol/mp/backup/${{ env.backup_filename }} \
            --acl public-read || true

      - name: 上传新文件
        if: steps.check.outputs.changed == 'true'
        run: |
          aws s3 cp \
            ${{ matrix.file.source }} \
            s3://test-autoreleaseprotocol/mp/${{ env.html_filename }} \
            --acl public-read

      - name: 刷新CloudFront缓存
        if: steps.check.outputs.changed == 'true'
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }} \
            --paths "/mp/agreements/${{ env.html_filename }}"
