name: 部署用户协议到S3

on:
  push:
    paths:
      - 'source/yunmu13-useragreement.html'  # 只有当源文件更新时触发
      - 'source/yunmu13-dataprivicyprotocol.html' # 云祭扫隐私协议
      - 'source/yxt-useragreement.html' # 园信通用户协议
      - 'source/yxt-dataprivicyprotocol.html' # 园信通隐私协议

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 拉取代码
        uses: actions/checkout@v4

      - name: 生成固定文件名和备份文件名（带时间戳）
        id: extract_filename
        run: |
          # 固定的最新文件名
          CHANGED_FILE="${{ github.event.head_commit.modified[0] }}"
          HTML_FILENAME=$(basename "$CHANGED_FILE")
          BACKUP_FILENAME="${HTML_FILENAME%.html}_$(date +%Y-%m-%d-%H-%M).html"
          echo "html_filename=$HTML_FILENAME" >> $GITHUB_ENV
          echo "backup_filename=$BACKUP_FILENAME" >> $GITHUB_ENV
          echo "file_path_in_cloudfront=/mp/$HTML_FILENAME" >> $GITHUB_ENV

      - name: 配置AWS凭证
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: cn-northwest-1  # 替换为你的S3区域

      - name: 备份S3中现有的协议文件
        run: |
          # 直接复制到mp/目录下，文件名带时间戳
          aws s3 cp s3://test-autoreleaseprotocol/mp/${{ env.html_filename }} \
            s3://test-autoreleaseprotocol/mp/backup/${{ env.backup_filename }} \
            --acl public-read || true

      - name: 上传最新文件到S3指定路径
        run: |
          aws s3 cp ${{ github.event.head_commit.modified[0] }} \
            s3://test-autoreleaseprotocol/mp/${{ env.html_filename }} \
            --acl public-read

      - name: 刷新CloudFront缓存
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }} \
            --paths "/mp/${{ env.html_filename }}"